# yaml-language-server: $schema=https://spec.openapis.org/oas/3.1/schema/2025-09-15
openapi: 3.1.0
info:
  title: Carevo API
  version: 0.1.0

servers:
  - url: https://alloc001.adyuta.group/api
    description: Production

tags:
  - name: Auth
  - name: Profto
  - name: Cv
  - name: Asah
  - name: Community
  - name: File

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

    csrfHeader:
      name: X-CSRF-Token
      type: apiKey
      in: header

paths:
  # Auth
  /v1/auth/register:
    $ref: ./paths/v1/auth/register.yaml
  /v1/auth/login:
    $ref: ./paths/v1/auth/login.yaml
  /v1/auth/logout:
    $ref: ./paths/v1/auth/logout.yaml
  /v1/auth/refresh:
    $ref: ./paths/v1/auth/refresh.yaml

  /v1/auth/password/forgot:
    $ref: ./paths/v1/auth/password/forgot.yaml
  /v1/auth/password/reset:
    $ref: ./paths/v1/auth/password/reset.yaml
  /v1/auth/password/change:
    $ref: ./paths/v1/auth/password/change.yaml

  /v1/auth/email/verify:
    $ref: ./paths/v1/auth/email/verify.yaml
  /v1/auth/email/resend:
    $ref: ./paths/v1/auth/email/resend.yaml

  /v1/auth/oauth/google:
    $ref: ./paths/v1/auth/oauth/google/index.yaml
  /v1/auth/oauth/google/callback:
    $ref: ./paths/v1/auth/oauth/google/callback.yaml

  # Profto
  /v1/proftos:
    $ref: ./paths/v1/proftos/index.yaml
  /v1/proftos/u/{username}:
    $ref: ./paths/v1/proftos/u/{username}.yaml

  # # CV
  /v1/cvs:
    $ref: ./paths/v1/cvs/index.yaml
  /v1/cvs/download:
    $ref: ./paths/v1/cvs/{userId}/download.yaml
  /v1/cvs/save:
    $ref: ./paths/v1/cvs/save.yaml
  /v1/cvs/ai/generate:
    $ref: ./paths/v1/cvs/ai/generate.yaml

  # Bootcamps
  /v1/bootcamps:
    $ref: ./paths/v1/bootcamps/index.yaml
  /v1/bootcamps/feed:
    $ref: ./paths/v1/bootcamps/feed.yaml

  # Certifications
  /v1/certifications:
    $ref: ./paths/v1/certifications/index.yaml
  /v1/certifications/feed:
    $ref: ./paths/v1/certifications/feed.yaml

  # Communities
  /v1/communities:
    $ref: ./paths/v1/communities/index.yaml
  /v1/communities/join:
    $ref: ./paths/v1/communities/join.yaml
  /v1/communities/leave:
    $ref: ./paths/v1/communities/leave.yaml
  /v1/communities/feed:
    $ref: ./paths/v1/communities/feed.yaml

  # Posts
  /v1/posts:
    $ref: ./paths/v1/posts/index.yaml
  /v1/posts/feed:
    $ref: ./paths/v1/posts/feed.yaml
  /v1/posts/{postId}/likes:
    $ref: ./paths/v1/posts/{postId}/likes.yaml
  /v1/posts/{postId}/comments:
    $ref: ./paths/v1/posts/{postId}/comments/index.yaml
  /v1/posts/{postId}/comments/{commentId}:
    $ref: ./paths/v1/posts/{postId}/comments/{commentId}.yaml

  # Files
  /v1/files/{fileId}:
    $ref: ./paths/v1/files/{fileId}.yaml
  /v1/files:
    $ref: ./paths/v1/files/index.yaml
