# yaml-language-server: $schema=https://spec.openapis.org/oas/3.1/schema/2025-09-15
openapi: 3.1.0
info:
  title: Carevo API
  version: 0.4.1

servers:
  - url: https://alloc001.adyuta.group/api
    description: Production

tags:
  - name: Auth
  - name: Profto
  - name: Cv
  - name: Asah
  - name: Community
  - name: File

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

    csrfHeader:
      name: X-CSRF-Token
      type: apiKey
      in: header

paths:
  # Auth
  /v1/auth/register:
    $ref: ./paths/v1/auth/register.yaml
  /v1/auth/login:
    $ref: ./paths/v1/auth/login.yaml
  /v1/auth/logout:
    $ref: ./paths/v1/auth/logout.yaml
  /v1/auth/refresh:
    $ref: ./paths/v1/auth/refresh.yaml

  /v1/auth/password/forgot:
    $ref: ./paths/v1/auth/password/forgot.yaml
  /v1/auth/password/reset:
    $ref: ./paths/v1/auth/password/reset.yaml
  /v1/auth/password/change:
    $ref: ./paths/v1/auth/password/change.yaml

  /v1/auth/email/verify:
    $ref: ./paths/v1/auth/email/verify.yaml
  /v1/auth/email/resend:
    $ref: ./paths/v1/auth/email/resend.yaml

  /v1/auth/oauth/google:
    $ref: ./paths/v1/auth/oauth/google/index.yaml
  /v1/auth/oauth/google/callback:
    $ref: ./paths/v1/auth/oauth/google/callback.yaml

  /v1/users/me:
    $ref: ./paths/v1/users/me.yaml

  # Bootcamps
  /v1/bootcamps:
    $ref: ./paths/v1/bootcamps/index.yaml
  /v1/bootcamps/feed:
    $ref: ./paths/v1/bootcamps/feed.yaml

  # Certifications
  /v1/certifications:
    $ref: ./paths/v1/certifications/index.yaml
  /v1/certifications/feed:
    $ref: ./paths/v1/certifications/feed.yaml

  # Communities
  /v1/communities:
    $ref: ./paths/v1/communities/index.yaml
  /v1/communities/join:
    $ref: ./paths/v1/communities/join.yaml
  /v1/communities/leave:
    $ref: ./paths/v1/communities/leave.yaml
  /v1/communities/feed:
    $ref: ./paths/v1/communities/feed.yaml

  # # Posts
  /v1/posts:
    $ref: ./paths/v1/posts/index.yaml
  /v1/posts/feed:
    $ref: ./paths/v1/posts/feed.yaml
  /v1/posts/{postId}/likes:
    $ref: ./paths/v1/posts/{postId}/likes.yaml
  /v1/posts/{postId}/comments:
    $ref: ./paths/v1/posts/{postId}/comments/index.yaml
  /v1/posts/{postId}/comments/{commentId}:
    $ref: ./paths/v1/posts/{postId}/comments/{commentId}.yaml

  # Files
  /v1/files/{fileId}:
    $ref: ./paths/v1/files/{fileId}.yaml
  /v1/files/upload:
    $ref: ./paths/v1/files/upload.yaml

  # AI
  /v1/ai/generate-cv:
    $ref: ./paths/v1/ai/generate-cv.yaml

  # Users
  /v1/users:
    $ref: ./paths/v1/users/index.yaml
  /v1/users/{userId}/communities:
    $ref: ./paths/v1/users/{userId}/communities.yaml
  /v1/users/u/{username}/profto:
    $ref: ./paths/v1/users/u/{username}/profto.yaml
  /v1/users/{userId}/profto:
    $ref: ./paths/v1/users/{userId}/profto.yaml
  /v1/users/{userId}/cv:
    $ref: ./paths/v1/users/{userId}/cv/index.yaml
  /v1/users/{userId}/cv/download:
    $ref: ./paths/v1/users/{userId}/cv/download.yaml
  /v1/users/{userId}/cv/save:
    $ref: ./paths/v1/users/{userId}/cv/save.yaml
